<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Поиск книги</title>
</head>
<body>

<form th:method="GET" th:action="@{search}">
    <label for="start_with">Поиск по названию книги: </label>
    <input type="text" id="start_with" th:name="start_with"/>
    <br/>
    <input type="submit" value="Искать!"/>
</form>

<div th:if="${#lists.isEmpty(books)}">
    <p>Нет результатов поиска</p>
</div>

<hr/>

<div th:if="${not #lists.isEmpty(books)}"
    th:each="book : ${books}">
    <p th:text="${book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</p>
    <p th:if="${book.getOwner() != null}"
        th:text="${'Книга у ' + book.getOwner().getFullName()}">Person name</p>
    <p th:if="${book.getOwner() == null}">Книга свободна</p>
    <hr/>

</div>

</body>
</html>